*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif; 
    background-color: #FFFFFF;
    color: #434455;
    margin: 0;
}
a{
    text-decoration: none;
}

ul,
ol {
    margin: 0;
     padding: 0;
    list-style: none;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
}
button{
    cursor: pointer;
}


/* css headr */
.header-page{
border-bottom: 1px solid #e7e9fc;
    
}

.header-nav {
    display: flex;
        align-items: center;
}
   
.container-nav{
    display: flex;
        align-items: center;
    
}

.logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 25.5px 0;
}

.logo-styles-header {
    color: #2e2f42
}

.nav-list {
    display: flex;
        align-items: center;
        gap: 40px;

   }


.nav-item {
}
.nav-item-link{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
            display: block

}
.nav-item-link:hover,
.nav-item-link:active,
.nav-item-link:focus{
    color: #404bbf;
}
.contacts{
        margin-left: auto;
            display: flex;
            align-items: center;
            font-style: normal;
            gap: 40px;
    }
.contacts-link{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}
/*    end-css-headr */
  /* 
*/
/* main-hero*/
.hero {
background: #2e2f42;
padding: 188px 0;
}

.hero-title {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
        margin: auto;
}

.hero-bth {
    display: block;
    border: none;
    min-width: 169px;
        height: 56px;
    border-radius: 4px;
    margin-top: 48px;
        margin-right: auto;
        margin-left: auto;
        padding: 16px 32px;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
   background: #4d5ae5; 
}

.hero-bth:hover,
.hero-bth:focus{
    background: #404bbf;
}
/*  tnd-main-hero */


/* main-feature */
.feature {
padding-top: 120px;
    padding-bottom: 120px;
   
}
.visually-hidden
 {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
       



.feature-list {
    display: flex;
    gap: 24px;
 
}


.feature-item {
   
width: calc((100% - 72px) / 4);
}


.feature-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.feature-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;

}
/*  end-main-feature */


/* main-our-team */
.ourteam {
    background: #f4f4fd;
    padding-top: 120px;
padding-bottom: 120px;
}

.ourteam-team {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
  margin-bottom: 72px;
}
.ourteam-list {
    display: flex;
    gap: 24px;
  
}

.ourteam-item {
    text-align: center;
background-color: #FFF;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
border-radius: 0 0 4px 4px;
 width: calc((100% - 72px) / 4);
}
.container-content{
    padding: 32px 0;
}

.ourteam-title {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;

}

.ourteam-text {
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    text-transform: capitalize;
    margin-bottom: 0;
}
/* end-main-our-team */

/* main-our-portfolio */
.our-portfolio {
padding: 120px 0;
}


.portfolio {
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
 margin-bottom: 72px;

}

.portfolio-list 
{
display: flex;
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;
padding: 0;
margin: 0;
}

.portfolio-item {
width: calc((100% - 48px) / 3);
}




.portfolio-card{
    max-width: 360px;
    padding: 32px 16px;
 border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    
}

.portfolio-title {
  
margin-bottom: 8px;
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
  
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
/* end-main-our-portfolio*/
       /*  END-MAIN */



     /* footer */
         .footer {
            background: #2e2f42;
        padding: 100px 0;
         }
       .footer .container{
            display: block;
          

        }
         .footer-logo {
       display: inline-block;
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
         }
    
         .logo-styles {
color: #f4f4fd;
         }
    
         .footer-text {
            max-width: 264px;
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
         }
/* end-footer  */